
.header__container {
    margin-bottom: 0rem;
}

.header__container {
    background-image: none;
    padding-bottom: 0;
}

.headphones__text {
    font-size: 1.8rem;
    margin-top: 10rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 5rem;
}

/*-------------MAIN-----------*/ 
.main__container {
    font-family: var(--main-font);
}
.main__first__pageg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16rem;
}
.main__cards__img {  
    background-color: var(--dark-gray);
    width: 540px;
    height: 500px;
}
.headphones__img__page {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
.main__cards__texts {
    max-width: 445px;
    margin-top: 5rem;
}
.main__cards__p__text {
    font-size: 1.4rem;
    color: var(--brown);
    line-height: 19.12px;
    padding-bottom: 1.6rem;
    letter-spacing: 10px;
}
.main__cards__h1 {
    font-size: 2.5rem;
    color: var(--dark-black);
    margin-bottom: 3.2rem;
}
.main__cards__p {
    font-weight: 500;
    line-height: 25px;
    color: var(--dark-black);
    margin-bottom: 4rem;
}
.hero__btn {
    border-radius: 0;
}

@media screen and (max-width: 1000px) { 
    .main__cards__img {
        width: 100%;
        padding-left: 1rem;
    }
    .main__first__pageg {
        gap: 3rem;
    }
}
@media screen and (max-width: 900px) {
    .main__first__pageg {
        flex-direction: column;
        gap: 3rem;
    }
    .headphones__img__page {
        margin-left: auto;
        margin-right: auto;
    }
    .main__cards__texts {
        text-align: center;
    }
    .main__cards__h1 {
        font-size: 3rem;
    }
    .main__cards__p {
        text-align: center;
    }
    .hero__btn {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 430px)  {
    .main__cards__img {
        max-width: 327px;
        height: 352px;
    }
    .headphones__img__page {
        width: 220px;
    }
    .main__cards__texts {
        margin-top: 3.2rem;
    }
    .main__cards__h1 {
        font-size: 2.3rem;
    }
}



.main__second__page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16rem;
}
.main__cards__img__second {
    background-color: var(--dark-gray);
    width: 540px;
    height: 500px;
}
.main__cards__texts__second {
    max-width: 445px;
    margin-right: 12.5rem;
}
.headphones__img__page__second__past {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1000px) { 
    .main__cards__img__second {
        width: 100%;
        padding-left: 1rem;
    }
    .main__second__page {
        gap: 3rem;
    }
}
@media screen and (max-width: 900px) {
    .main__second__page {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .main__cards__img__second {
        max-width: 689px;
    }
    .headphones__img__page {
        margin-left: auto;
        margin-right: auto;
    }
    .main__cards__texts__second {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 430px)  {
    .main__cards__img {
        max-width: 327px;
        height: 352px;
    }
    .headphones__img__page__second__past {
        width: 220px;
    }
    .main__cards__texts__second {
        margin-top: 3.2rem;
    }
}
.thirty {
    margin-bottom: 16rem;
}